In [1]:
#importing required Libraries
import pandas as pd 
import requests
from bs4 import BeautifulSoup
import numpy as np

In [2]:
#creating empty list 
movie_name = []
year = []
rating = []
time = []
metascore = []
votes = []
gross = []

In [3]:
movie_no=1
while movie_no <= 201:
    
    url = "https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start="+str(movie_no)+"&ref_=adv_nxt"
    response = requests.get(url)
    movie_no += 50
    soup = BeautifulSoup(response.content, 'html.parser')
    movie_data = soup.findAll('div',attrs ={'class': 'lister-item mode-advanced'})
    for store in movie_data:    
        name = store.h3.a.text
        movie_name.append(name)
        
        
        year_of_release = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '')
        year.append(year_of_release)
    
        runtime = store.p.find('span', class_ = 'runtime').text.replace(' min', '')
        time.append(runtime)

        rate = store.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace('\n', '')
        rating.append(rate)

        meta  = store.find('span', class_ = 'metascore').text.replace(' ', '') if store.find('span', class_ = 'metascore') else '^^^^^^'
        metascore.append(meta)
        
        value = store.find_all('span', attrs = {'name': 'nv'})

        vote = value[0].text
        votes.append(vote)

        grosses = value[1].text if len(value) >1 else '*****'
        gross.append(grosses)

In [4]:
np.count_nonzero(movie_name)

250

In [5]:
#creating a dataframe using pandas library
movie_DF = pd.DataFrame({'Name of movie': movie_name, 'Year of relase': year, 'Watchtime': time, 'Movie Rating': rating, 'Metascore': metascore, 'Votes': votes, 'Gross collection': gross})

In [6]:
movie_DF.head(50)

,Name of movie,Year of relase,Watchtime,Movie Rating,Metascore,Votes,Gross collection
0,The Shawshank Redemption,1994,142,9.3,81,"2,705,519",$28.34M
1,The Godfather,1972,175,9.2,100,"1,878,694",$134.97M
2,The Dark Knight,2008,152,9.0,84,"2,679,128",$534.86M
3,The Godfather Part II,1974,202,9.0,90,"1,283,049",$57.30M
4,Schindler's List,1993,195,9.0,95,"1,367,341",$96.90M
5,12 Angry Men,1957,96,9.0,97,"799,262",$4.36M
6,The Lord of the Rings: The Return of the King,2003,201,9.0,94,"1,862,616",$377.85M
7,Pulp Fiction,1994,154,8.9,94,"2,077,151",$107.93M
8,The Lord of the Rings: The Fellowship of the Ring,2001,178,8.8,92,"1,892,066",$315.54M
9,Inception,2010,148,8.8,74,"2,377,108",$292.58M
10,Fight Club,1999,139,8.8,66,"2,150,184",$37.03M
11,Forrest Gump,1994,142,8.8,82,"2,102,102",$330.25M
12,The Lord of the Rings: The Two Towers,2002,179,8.8,87,"1,681,875",$342.55M
13,"Il buono, il brutto, il cattivo",1966,161,8.8,90,"768,227",$6.10M
14,Jai Bhim,2021,164,8.8,^^^^^^,"204,333",#232
15,GoodFellas,1990,145,8.7,91,"1,173,542",$46.84M
16,One Flew Over the Cuckoo's Nest,1975,133,8.7,84,"1,015,861",$112.00M
17,The Matrix,1999,136,8.7,73,"1,930,643",$171.48M
18,The Empire Strikes Back,1980,124,8.7,82,"1,303,633",$290.48M
19,Interstellar,2014,169,8.6,74,"1,863,792",$188.02M
20,The Silence of the Lambs,1991,118,8.6,85,"1,446,563",$130.74M
21,The Green Mile,1999,189,8.6,61,"1,315,204",$136.80M
22,Se7en,1995,127,8.6,65,"1,670,564",$100.13M
23,Star Wars,1977,121,8.6,90,"1,376,031",$322.74M
24,Terminator 2: Judgment Day,1991,137,8.6,75,"1,109,235",$204.84M
25,Sen to Chihiro no kamikakushi,2001,125,8.6,96,"774,151",$10.06M
26,Saving Private Ryan,1998,169,8.6,91,"1,404,283",$216.54M
27,Cidade de Deus,2002,130,8.6,79,"762,734",$7.56M
28,La vita è bella,1997,116,8.6,59,"702,235",$57.60M
29,It's a Wonderful Life,1946,130,8.6,89,"467,063",#21
30,Shichinin no samurai,1954,207,8.6,98,"348,978",$0.27M
31,Seppuku,1962,133,8.6,85,"59,111",#44
32,The Departed,2006,151,8.5,85,"1,337,526",$132.38M
33,Whiplash,2014,106,8.5,89,"880,484",$13.09M
34,Gisaengchung,2019,132,8.5,96,"824,837",$53.37M
35,Gladiator,2000,155,8.5,67,"1,514,623",$187.71M
36,Back to the Future,1985,116,8.5,87,"1,218,846",$210.61M
37,The Prestige,2006,130,8.5,66,"1,346,153",$53.09M
38,Apocalypse Now,1979,147,8.5,94,"674,153",$83.47M
39,Alien,1979,117,8.5,89,"891,470",$78.90M
40,Léon,1994,110,8.5,64,"1,173,065",$19.50M
41,The Lion King,1994,88,8.5,88,"1,069,389",$422.78M
42,The Usual Suspects,1995,106,8.5,77,"1,093,633",$23.34M
43,American History X,1998,119,8.5,62,"1,131,379",$6.72M
44,The Pianist,2002,150,8.5,85,"842,032",$32.57M
45,Casablanca,1942,102,8.5,100,"576,815",$1.02M
46,The Intouchables,2011,112,8.5,57,"868,537",$13.18M
47,Psycho,1960,109,8.5,97,"678,360",$32.00M
48,Once Upon a Time in the West,1968,165,8.5,82,"333,297",$5.32M
49,Hotaru no haka,1988,89,8.5,94,"281,765",#45

In [7]:
from sqlalchemy import inspect, create_engine
from sqlalchemy import event

alchemy_driver = 'postgresql+psycopg2'
postgres_user = 'postgres'
postgres_password = '123456789'
postgres_host = '127.0.0.1'
postgres_db = 'imdb_data'
postgres_schema = 'public'


postgres_conn = create_engine(f'{alchemy_driver}://{postgres_user}:{postgres_password}@{postgres_host}:5432/{postgres_db}')
print("Postgres connection set")

movie_DF.to_sql(name='imdb_movies', con=postgres_conn, schema=postgres_schema, if_exists='replace', index=False)

Postgres connection set

250